# Packages
node_modules/
package-lock.json

dist/
.netlify/

# local env files
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Miscellaneous
.DS_Store
